
.MainHeader{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}

.opcao{
    text-align: center;
    margin: 6px;
    font-size: 12px;
}

.Button2 {
background-color: #0d3c3f !important;
}
